<!DOCTYPE html>
<html>
<head>
  <title>Today's tasks completed</title>
  <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
</head>
<body style='background-color: #121212;background-image: url("3px-tile.png");'>
  <div id="overlay" style="background-color: #8c8c8c;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity:0.15; z-index: -3;"></div>
    <div id="app">
        <div class="ui container" style="width: 80%; margin: 0 auto;">
            <h1 class="ui center aligned header" style="margin-top:20px;"><div class="ui huge label">
                <i class="clock icon"></i> {{todop1.length}} task(s) to go!
                </div> 
            </h1>
            <div class="ui cards">
                <div class="ui fluid card" v-for="c in todop1"  style="width: 45% !important">
                    <div class="content">
                        <span class="header">{{c.content}}</span>
                    </div>
                </div>
            </div>
        </div>
    
    <br />
    <hr />
    <br />
    
        <div class="ui container" style="width: 80%; margin: 0 auto;">
            <h1 class="ui center aligned header" style="margin-top:20px;"><div class="ui huge label">
    <i class="check icon"></i> {{completed.length}} task(s) completed today
    </div> </h1>
            <div class="ui cards">
                <div class="ui fluid card" v-for="c in completed"  style="width: 30% !important">
                    <div class="content">
                        <span class="header" style="text-overflow: ellipsis;overflow: hidden;">{{c.extra_data.content}}</span>
                        <!--<div class="meta">-->
                            <!--<span class="date">Joined in 2013</span>-->
                        <!--</div>-->
                        <!--<div class="description">-->
                            <!--Kristy is an art director living in New York.-->
                        <!--</div>-->
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="clock icon"></i>
                            {{parseTime(c.event_date)}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        completed: [],
        todop1: []
      },
      methods: {
        loadTasks: function () {
            var selfA=this;
            var d = new Date();
            d.setHours(0,0,0,0);
            var dateString = d.toISOString();
            $.get( "https://todoist.com/api/v7/activity/get?token=59a421085a449a05fcd4ad42c9994dcbf9e12e68&event_type=completed&since="+dateString, function( data ) {
                selfA.completed = data;
            });
            
            $.ajax({
                url: "https://beta.todoist.com/API/v8/tasks",
                type: "get",
                data: {
                    'filter':"p1"
                },
                beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer 59a421085a449a05fcd4ad42c9994dcbf9e12e68'); }          
            }).done(function(data){
                selfA.todop1 = data;
            });
        },
          parseTime: function(dateTime) {
            var time = dateTime.split(" ")[4]; //HH:MM:SS
            time = time.split(":")
            return (parseInt(time[0])+1)+":"+time[1];
          },
          calcPerc: function(){
            var perc = this.completed.length / (this.completed.length+this.todop1.length)
            perc = perc*100;
            $("#overlay").width(perc+"%");
            console.log(perc);
          }
      },
      beforeMount(){
          this.loadTasks();
          setInterval(function () {
              this.calcPerc();
              this.loadTasks();
          }.bind(this), 1000);
      },
    })
  </script>
</body>
</html>

